<form id="expreForm">



<div ng-repeat="condition in expression.conditions track by $index">
	<div class="form-group row">
		<div class="col-xs-4" ng-class="{'has-error': errors.conditions[$index].val1}">
			<select form="expreForm" class="form-control" ng-options="val.dbName as val.displayName for val in selectValArr" ng-model="value1[$index]" ng-change="changeVal1($index)">
				<option value="">Choose value</option>
			</select>
			<span class="help-block" ng-if="errors.conditions[$index].val1">This field is required</span>
		</div><!-- /.col-xs-4 -->


		<div class="col-xs-2">
			<select form="expreForm" class="form-control" ng-model="condition.operator">
				<option ng-repeat="operator in operators[$index]" value="{{ operator }}">{{operator}}</option>
			</select>
		</div><!-- /.col-xs-4 -->

		<div class="col-xs-4">
			<div class="" ng-class="{'has-error': errors.conditions[$index].val2}">
				<div id="button-container">
					<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{getDisplayName($index)}}<span class="caret right"></span></button>
					<ul class="dropdown-menu">
						<li ng-click="changeVal2('', '', $index)"><a href="">Static value</a></li>
						<li role="separator" class="divider"></li>
						<li ng-repeat="dependencie in dependenciesArr | orderBy: 'displayName'" value="{{dependencie.dbName}}" ng-click="changeVal2(dependencie.displayName, dependencie.dbName, $parent.$index)"><a href="">{{ dependencie.displayName}}</a></li>
					</ul>
				</div>
				<span class="help-block" ng-if="errors.conditions[$index].val2">This field is required</span>
			</div><!-- /input-group -->
		</div><!-- /.col-xs-4 -->

		<div class="col-xs-2 text-right">
			<button class="btn btn-primary" ng-show="$index==expression.conditions.length-1" ng-click="addCondition()">Add Condition</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" id="static-value-container" ng-if="condition.val2.parameterType!=undefined">
			<integer json-input ng-if="condition.val1.parameterType=='integer'" parameter="staticValues[$index]['integer']" dependencies = "[]" validation="true"></integer>
			<float json-input ng-if="condition.val1.parameterType=='float'" parameter="staticValues[$index]['float']" dependencies = "[]" validation="true"></float>
			<datetime json-input ng-if="condition.val1.parameterType=='datetime'" parameter="staticValues[$index]['datetime']" dependencies = "[]" validation="true"></datetime>
			<json-select json-input ng-if="condition.val1.parameterType=='select'" parameter="staticValues[$index]['select']" dependencies ="[]" validation="false"></json-select>
		</div>
	</div>
	<div class="col-xs-10 and-col" ng-show="$index!=expression.conditions.length-1"><b>AND</b></div>
</div>


	<div class="row">
		<div class="form-group col-xs-12" ng-class="{'has-error': errors.message==true}">
			<textarea class="form-control" name="advertise" id="errorMSG" rows="5" placeholder="Error message" ng-model="expression.message"></textarea>
			<span class="help-block" ng-if="errors.message==true">This field is required</span>
		</div>
	</div>
</form>
